<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909386276354-c96bo1013up384650b5b196a63tof15l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909386276354-c96bo1013up384650b5b196a63tof15l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909386276354-enc9db26oi0tonojofo23adpgdqvkcel.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAC1oRQGTJrz4SyY3QEcQRFaNEaBR8oVQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>909386276354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.benefactorproject</string>
	<key>PROJECT_ID</key>
	<string>my-first-project-udemy-139a7</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-project-udemy-139a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909386276354:ios:429272a129c091189f911b</string>
</dict>
</plist>